@import "./base.css";
@import "./typography.css";

.v-badge__badge {
  background-color: var(--ts-c-primary-mute) !important;
}

.v-input__details {
  background: var(--ts-c-danger);
  border-radius: 0 0 5px 5px;
  padding: 5px 15px !important;
  align-items: center !important;
}

.v-messages__message {
  color: var(--ts-c-text-light);
  letter-spacing: 0.1rem;
}

.ts-container {
  padding: 2rem 1rem;
}

.v-btn {
  letter-spacing: none !important;
}

.widget__btn {
  height: 40px !important;
  width: 70px !important;
  padding: 0 !important;
}

@media only screen and (min-width: 64em) {
  .ts-container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
  }
}
