:root {
  /* Colors */
  --ts-c-primary: #49656a;
  --ts-c-primary-soft: #6d8488;
  --ts-c-primary-mute: #92a3a6;
  --ts-c-primary-dark: #3a5155;
  --ts-c-primary-darker: #2c3d40;

  --ts-c-secondary: #f1e2b3;
  --ts-c-secondary-soft: #f4e8c2;
  --ts-c-secondary-mute: #f8f1d9;
  --ts-c-secondary-dark: #c1b58f;
  --ts-c-secondary-darker: #91886b;

  --ts-c-ternary: #f2ae67;
  --ts-c-ternary-soft: #f5be85;
  --ts-c-ternary-mute: #f7cea4;
  --ts-c-ternary-dark: #c28b52;
  --ts-c-ternary-darker: #91683e;

  --ts-c-white: #ffffff;
  --ts-c-white-soft: #f8f8f8;
  --ts-c-white-mute: #f2f2f2;

  --ts-c-black: #181818;
  --ts-c-black-soft: #222222;
  --ts-c-black-mute: #282828;

  /* Background */
  --ts-c-bg-dark: var(--ts-c-primary);
  --ts-c-bg-light: var(--ts-c-secondary);
  --ts-c-bg-highlight: var(--ts-c-ternary);

  /* Text */
  --ts-c-text-light: var(--ts-c-secondary);
  --ts-c-text-dark: var(--ts-c-primary);
  --ts-c-text-highlight: var(--ts-c-ternary);

  /* Header */
  --ts-c-header-light: var(--ts-c-secondary);
  --ts-c-header-dark: var(--ts-c-primary);

  /* Dividers & Separators */
  --ts-c-divider-light: var(--ts-c-secondary-soft);
  --ts-c-divider-dark: var(--ts-c-primary-soft);

  --ts-c-separator-light: var(--ts-c-secondary-soft);
  --ts-c-separator-dark: var(--ts-c-primary-soft);

  /* Border */
  --ts-c-border-light: var(--ts-c-secondary-soft);
  --ts-c-border-dark: var(--ts-c-primary-soft);

  /* Highlights */
  --ts-c-highlight: var(--ts-c-ternary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--ts-c-bg-dark);
  color: var(--ts-c-text-light);
  font-size: 14px;
  font-family: Roboto, "Open Sans", sans-serif;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}
