@import "./base.css";

.v-input__details {
  background: var(--ts-c-danger);
  border-radius: 0 0 5px 5px;
  padding: 5px 15px !important;
  align-items: center !important;
}

.v-messages__message {
  color: var(--ts-c-text-light);
  letter-spacing: 0.1rem;
}
